/* Header.css */
.header{
    background: linear-gradient(to bottom, #296c92, #274a63);
  }
  
  .profile-nav {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Ajusta el margen para separar el perfil del menú */
  }
  
  .profile-image {
    width: 30px; /* Ajusta el ancho de la imagen de perfil según tus necesidades */
    height: auto;
    margin-right: 8px; /* Ajusta el margen entre la imagen y el nombre de usuario */
    border-radius: 50%; /* Si deseas que la imagen de perfil sea redonda */
  }
  
  .nav-link {
    color: white; /* Color del texto del menú */
  }
  
  /* Personaliza el estilo de los enlaces según tus preferencias */
  .nav-link:hover {
    color: #53baea; /* Color al pasar el mouse por encima */
  }
  
  #salirbtn {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón de salir */
  }
  